 
  <div class="oj-flex oj-flex-init oj-panel oj-panel-alt4">
      <!-- left div -->
    <div class="oj-flex-item oj-sm-only-text-align-end oj-md-4 oj-sm-12 oj-panel oj-panel-alt1">
     <table id = "table" summary = "Contact List" aria-label = "Contacts Table"
               data-bind = "ojComponent: {component: 'ojTable',
                                   
                                    data: datasource,    columnsDefault: {sortable: 'none' },
                                    columns: [{headerText: 'Incident  Id',
                                               field: 'incidentId'},
                                              {headerText: 'Contact',
                                               field: 'contact'},
                                              {headerText: 'Priority',
                                               field: 'priority'},
                                              {headerText: 'Summary',
                                               field: 'summary'},
                                       {headerText: 'Status',
                                               field: 'status'}
                   
                   
                   ]} ">
        </table>
    </div>
        <!-- end left div -->
          <!-- mid div -->
    <div class="oj-flex-item oj-sm-only-text-align-end oj-md-4 oj-sm-12 oj-panel oj-panel-alt1">
    </div>
          <!--end mid div -->
          <!-- right div -->
      <div class="oj-flex-item oj-sm-only-text-align-end oj-md-4 oj-sm-12 oj-panel oj-panel-alt1">
    </div> 
            <!-- end right div -->

</div>