<div id = "tableDemo" class = "oj-flex oj-flex-items-pad">
    <div class = "oj-xl-8 oj-lg-8 oj-md-6 oj-flex-item">
        <table id = "table" summary = "Contact List" aria-label = "Contacts Table"
               data-bind = "ojComponent: {component: 'ojTable',
                                   
                                    data: datasource,    columnsDefault: {sortable: 'none' },
                                    columns: [{headerText: 'Incident  Id',
                                               field: 'incidentId'},
                                              {headerText: 'Contact',
                                               field: 'contact'},
                                              {headerText: 'priority',
                                               field: 'priority'},
                                              {headerText: 'summary',
                                               field: 'summary'}]} ">
        </table>
    </div>
    <!--
    <div class = "oj-xl-4 oj-lg-4 oj-md-6 oj-flex-item">
        <div class = "oj-flex oj-flex-items-pad">
            <div class = "oj-flex- deprecated-col-default-width ">
                <label for =" spinnercontrol "> Incident Id </label>
            </div>
            <div class = "oj-flex-item deprecated-col-default-width">
                <input id = "incidentIdInput"
                       data-bind = "ojComponent: {
                       component: 'ojInputNumber',
                       max: 2000, min: 0, step: 1, value: inputincidentId}" />
            </div>
        </div>
        <div class = "oj-flex oj-flex-items-pad">
            <div class = "oj-flex-item deprecated-col-default-width">
                <label for = "inputcontrol"> Contact </label>
            </ div>
            <div class = "oj-flex-item deprecated-col-default-width">
                <input id = "conatctInput"
                       data-bind = "ojComponent: {
                       component: 'ojInputText',
                       value: inputFirstName} "/>
            </div>
        </div>
        <div class =" oj-flex oj-flex-items-pad ">
            <div class =" oj-flex-item deprecated-col-default-width " >
                <label for = "spinnercontrol"> contact </label>
            </div>
            <div class = "oj-flex-item deprecated-col-default-width">
                <input id = "inputpriority"
                       data-bind = " ojComponent: {
                       component: 'ojInputText',
                       value: inputpriority} "/>
            </div>
        </div>
        
        <div class =" oj-flex oj -flex-items-pad ">
            <button id =" addbutton "
                    data-bind =" click: addRow,
                    ojComponent: {component: 'ojButton', label: 'Add to end'} ">
            </button>

            <button id = "updateButton"
                    data-bind = "click: updateRow,
                    ojComponent: {component: 'ojButton', label: 'Update'}">
            </button>
            <button id = "removeButton"
                    data-bind = "click : removeRow,
                    ojComponent: {component: 'ojButton', label: 'Remove'} ">
            </button>
        </div>
    </div>-->
</div>