
<div class="oj-flex oj-flex-init oj-panel oj-panel-alt4">
    <div class="oj-flex-item oj-sm-only-text-align-end oj-md-4 oj-sm-12 oj-panel oj-panel-alt1">
         <table id = "table" summary = "Contact List" aria-label = "Contacts Table"
               data-bind = "ojComponent: {component: 'ojTable',
                                   
                                    data: datasource,    columnsDefault: {sortable: 'none' },
                                    columns: [{headerText: 'Incident  Id',
                                               field: 'incidentId'},
                                              {headerText: 'Contact',
                                               field: 'contact'},
                                              {headerText: 'priority',
                                               field: 'priority'},
                                              {headerText: 'summary',
                                               field: 'summary'}]} ">
        </table>
    </div>
    <div class="oj-flex-item oj-sm-only-text-align-end oj-md-4 oj-sm-12 oj-panel oj-panel-alt1">
        <div class = "oj-flex oj-flex-items-pad">
            <div class = "oj-flex-item deprecated-col-default-width">
                <label for = "inputcontrol">Contact</label>
            </div>
            <div class = "oj-flex-item deprecated-col-default-width">
                <input id = "contactInput"
                       data-bind = " ojComponent: {
                       component: 'ojInputText',
                       value: inputcontact} "/>
            </div>
        </div>
        <div class =" oj-flex oj-flex-items-pad ">
            <div class =" oj-flex-item deprecated-col-default-width " >
                <label for = "spinnercontrol">Priority </label>
            </div>
            <div class = "oj-flex-item deprecated-col-default-width">
                <input id = "priorityInput"
                       data-bind = " ojComponent: {
                       component: 'ojInputText',
                       value: inputpriority} "/>
            </div>
        </div>
        <div class = "oj-flex oj-flex-items-pad">
            <div class = "oj-flex-item deprecated-col-default-width">
                <label for = "spinnercontrol">Summary </label>
            </div>
            <div class = "oj-flex-item deprecated-col-default-width ">
                <input id ="summaryInput"
                       data-bind =" ojComponent: {
                       component: 'ojInputText',
                       value: inputsummary} "/>
            </div>
        </div>
        <div class ="oj-flex oj-flex-items-pad ">
            <button id ="addbutton "
                    data-bind ="click: addRow,
                    ojComponent: {component: 'ojButton', label: 'Add to end'}">
            </button>

            <button id = "updateButton"
                    data-bind = "click: updateRow,
                    ojComponent: {component: 'ojButton', label: 'Update'}">
            </button>
            <button id = "removeButton"
                    data-bind = "click : removeRow,
                    ojComponent: {component: 'ojButton', label: 'Remove'} ">
            </button>
        </div>
    </div>
    <div class="oj-flex-item oj-sm-only-text-align-end oj-md-4 oj-sm-12 oj-panel oj-panel-alt1">

    </div>
</div>

