<div class="oj-hybrid-padding">
  <h1>Product Information</h1>
  <div class="oj-flex oj-flex-init oj-panel oj-panel-alt4">
    <div class="oj-flex-item oj-sm-only-text-align-end oj-md-4 oj-sm-12 oj-panel oj-panel-alt1">
      <h3><oj-label for="activitiesList">Activities</oj-label></h3>
      <oj-list-view id="activitiesList" style="font-size: 18px" data="[[activityDataProvider]]">
        <template slot="itemTemplate">
          <div>
            <strong>
              <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
            </strong>
          </div>
        </template>
      </oj-list-view> 
    </div>
    <div class="oj-flex oj-flex-item oj-flex-items-pad oj-md-8 oj-sm-12 oj-panel oj-panel-alt2">
      <div class="oj-flex-item oj-md-6 oj-sm-12">
        <div id="container">
          <oj-module config='[[moduleConfig]]'></oj-module>
        </div>
      </div>
      <div class="oj-flex-item oj-md-6 oj-sm-12 oj-panel oj-panel-alt3">
        <h3><oj-label for="basicSelect">Item Details</oj-label></h3>
        <hr style="margin-top:12px;">
        <oj-label for="basicSelect">Select Chart:</oj-label>
        <oj-select-single id="basicSelect"
                          style="max-width:20em"
                          data="[[chartTypes]]"
                          value="{{val}}">
        </oj-select-single>
        <oj-chart id="barChart"
                  type="[[val]]"
                  data="[[chartDataProvider]]"
                  animation-on-display="auto"
                  animation-on-data-change="auto"
                  hover-behavior="dim"
                  style="max-width:500px;width:100%;height:350px;">
          <template slot='itemTemplate' data-oj-as='item'>
            <oj-chart-item value='[[item.data.value]]'
                           group-id='[[ [item.data.group] ]]'
                           series-id='[[item.data.series]]'>
            </oj-chart-item>
          </template>
        </oj-chart>
      </div>
    </div>
  </div>
</div>