
<div id="sampleDemo" style="" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        <div id="tableDemo">
            <oj-messages messages="[[messageArray]]"></oj-messages>
            <div class="oj-flex">
                <div class="oj-flex-item oj-web-padding">
                    <oj-validation-group valid="{{groupValid}}">
                        <oj-form-layout>
                            <oj-input-number id="departmentIdInput" max="2000" min="0" label-hint="Department Id"
                                             value="{{inputDepartmentId}}"></oj-input-number>
                            <oj-input-text id="departmentNameInput" label-hint="Department Name" value="{{inputDepartmentName}}"></oj-input-text>
                            <oj-input-number id="locationIdInput" label-hint="Location Id" max="2000" min="0"
                                             value="{{inputLocationId}}"></oj-input-number>
                            <oj-input-number id="managerIdInput" label-hint="Manager Id" max="2000" min="0"
                                             value="{{inputManagerId}}"></oj-input-number>
                        </oj-form-layout>
                        <oj-toolbar chroming='outlined'>
                            <oj-button id='addbutton' on-oj-action='[[addRow]]' disabled='[[disableCreate]]'>Create</oj-button>
                            <oj-button id='updateButton' on-oj-action='[[updateRow]]' disabled='[[disableRemoveUpdate]]'>Update</oj-button>
                            <oj-button id='removeButton' on-oj-action='[[removeRow]]' disabled='[[disableRemoveUpdate]]'>Remove</oj-button>

                        </oj-toolbar>
                    </oj-validation-group>
                </div>
                <div id='tableContainer' class="oj-flex-item oj-web-padding">
                    <oj-table id="table" aria-label="Departments Table"
                              class="demo-table-container"
                              data='[[dataprovider]]'
                              columns='[{"headerText": "Department Id", "field": "DepartmentId"},
                              {"headerText": "Department Name", "field": "DepartmentName"},
                              {"headerText": "Location Id", "field": "LocationId"},
                              {"headerText": "Manager Id", "field": "ManagerId"}]'
                              selection-mode.row='single'
                              first-selected-row='{{firstSelected}}'
                              on-first-selected-row-changed="[[firstSelectedRowChangedListener]]">
                    </oj-table>

                    <oj-toolbar chroming='outlined'>
                        <oj-button id='resetButton' on-oj-action='[[resetRows]]' disabled='[[disableSubmit]]'>Reset Changes</oj-button>
                        <oj-button id='submitButton' on-oj-action='[[submitRows]]' disabled='[[disableSubmit]]'>Submit Changes</oj-button>
                    </oj-toolbar>
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
</div>
